<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>sueldoNeto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor=#ffa07a>
<font color="black">
	<h1>
	CALCULAR SUELDO NETO
	</h1>
    <form action="#" th:action="@{/sueldoNeto" th:object="${sueldoNeto}" method="post">
    		<p>Ingrese sueldo bruto:  $ <input type="text" size="20" th:field="*{sueldo}" /> 
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		<p>Jubilacion 11% : </
		th:text="' $ ' + ${sueldoNeto.jubilacion}"</p> 
		<p>Obra Social 3% : </
		th:text="' $ ' + ${sueldoNeto.obraSocial}"</p> 
		<p>Ley 19032 (PAMI): </
		th:text="' $ ' + ${sueldoNeto.pami}"</p> 
		<p><h1>Sueldo Neto:  </
		th:text="' $ ' + ${sueldoNeto.neto}"</p> 
        <p> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>